html{
    font-family: 'Gotham Rounded', sans-serif;                                                
}

.odometer{
    font-family: 'Roboto', sans-serif;
}

.chan{
    display: inline-block;
    background-color: aquamarine;
    border-radius: 5px;
    font-size: 20px;
}

#chan1{
    position: relative;
    right: 100px;
}

#chan2{
    position: relative;
    left: 100px;
}